
@{
    ViewBag.Title = "Index";
}

<div ng-controller="Company2Ctrl" ng-init="InitBilling()">
    <div class="jumbotron PageHeading">
        <div class="row">
            <div class="">
                <h2>Companies Billing List</h2>
            </div>
       
        </div>
    </div>

    <div class="jumbotron PageHeading">
        <table class="table table-hover" width="100%">
            <tr class="table-head noHover">
                <th width="5%">
                    Id
                </th>
                <th>
                    Company
                </th>
                <th>
                    Address1
                </th>
                <th>
                    Delivery Mode
                </th>
                <th>CreatedBy</th>
                <th width="12%">CreatedAt</th>
                <th style="width:6%;">
                    Action
                </th>
            </tr>
            <tr ng-repeat="Company in Companies">
                <td>
                    {{Company.Id}}
                </td>
                <td>
                    {{Company.CompanyName}}
                </td>
                <td>
                    {{Company.Address1}}
                </td>
            
                <td>
                    {{Company.DeliveryMode}}
                </td>
                <td>
                    {{Company.CreatedBy}}
                </td>
                <td>
                    {{Company.CreatedAt |  date:'MMM d, y'}}
                </td>

                <td>
                    <a href="/Billing/UpdateBilling?Id={{Company.CompanyId}}" title="Update Billing Information"><i class="fas fa-pencil-alt"></i></a>
                    <a href="/Billing/Details?Id={{Company.CompanyId}}" title="Details"><i class="fas fa-file"></i></a>
                    @*<a href="/CompanySubcription/Index?Id={{Company.CompanyId}}" title="Subcriptions"><i class="fas fa-external-link-square"></i></a>*@
                </td>
            </tr>
        </table>
    </div>
</div>

