
@{
    ViewBag.Title = "Add";
}
<div class="container" ng-controller="BugCtrl" ng-init="AddInit()">
    <div class="jumbotron PageHeading">
        <div class="row"><div class="col-md-3"><h2>Add Bug</h2></div></div>
    </div>

    <div class="jumbotron PageHeading">
        <div class="row">
            <form>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Bug Type</label>
                        <select ng-model="Bug.Type" class="form-control">
                            <option selected value="">Select Bug-Type</option>
                            <option value="0" ng-model="Bug.Type">UI</option>
                            <option value="1" ng-model="Bug.Type">Functional</option>
                        </select>
                    </div>
                    <div class="col-md-9">
                        <label>Bug Description</label>
                        <textarea class="form-control " rows="9" ng-model="Bug.Description"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="row float-right">
            <a href="/BugReport" class="btn btn-danger">Cancel</a>
            <button class="btn btn-primary" style=" margin-right: 61px!important;" ng-click="AddBug(Bug)">Add</button>
        </div>
    </div>
</div>